<div class="sing-out"></div>
<div class="content-login"></div>
<div class="login-form">
  <form class="example-form" [formGroup]="form" class="form-login" autocomplete="off" (keyup.enter)="login()">
    <div class="card">
      <div class="content-card">
        <div class="welcome">Seja bem-vindo</div>

        <div class="fields">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email do usuário</mat-label>
            <input matInput placeholder="Login do usuário" formControlName="email" maxlength="70" />
            <mat-error *ngIf="form.controls['email'].hasError('required')">
              Campo <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field name="password" class="full-width" appearance="outline">
            <mat-label>Senha</mat-label>
            <input matInput placeholder="Senha" formControlName="password" [type]="hide ? 'password' : 'text'"
              id="inputPassword" maxlength="70" />
            <button type="button" mat-icon-button matSuffix>
              <mat-icon (click)="hide = !hide">
                {{ hide ? "visibility_off" : "visibility"}}
              </mat-icon>
            </button>
            <mat-error *ngIf="form.controls['password'].hasError('required')">
              Campo <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <button type="button" mat-raised-button class="button-singin" id="buttonSingIn" (click)="login()">
            ENTRAR
          </button>

        </div>
      </div>
    </div>
  </form>
</div>