<app-sub-header-sing-out></app-sub-header-sing-out>

<div class="container">
  <div class="back">
    <button (click)="goToBack()" mat-button>
      <span>Voltar</span>
    </button>

  </div>

  <h3>{{nameTitle}} Usuário</h3>
  <form [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input formControlName="name" id="inputUserName" #input maxlength="70" matInput>
      <mat-error *ngIf="form.controls['name'].hasError('required')">
        Campo <strong>obrigatório</strong>
      </mat-error>
      <mat-error *ngIf="form.controls['email'].hasError('email')">
        Por favor informe um email válido
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input type="email" formControlName="email" id="inputEmail" placeholder="email@example.com" maxlength="35"
        matInput placeholder="Ex. nome@gmail.com">
      <mat-error *ngIf="form.controls['email'].hasError('required')">
        Campo <strong>obrigatório</strong>
      </mat-error>
      <mat-error *ngIf="form.controls['email'].hasError('email')">
        Por favor informe um email válido
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Senha</mat-label>
      <input matInput [type]="hide() ? 'password' : 'text'" formControlName="password" #inputPassword minlength="6"
        maxlength="70" />
      <button mat-icon-button matSuffix type="button" (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide()">
        <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="form.controls['password'].hasError('required')">
        Campo <strong>obrigatório</strong>
      </mat-error>
      <mat-error *ngIf="form.controls['password'].hasError('minlength')">
        A senha deve ter mais de <strong>6 caracteres</strong>
      </mat-error>
    </mat-form-field>

    <button (click)="save()" mat-raised-button>{{nameBtn}}</button>

  </form>
</div>